@use "../utils/mixin";
@use "../utils/veriables";

.badge {
  @include mixin.badge-base();
  color:veriables.$badge-cl;
}

.badge-completed {
  background-color: veriables.$completed;
}

.badge-ended {
  background-color: veriables.$ended;
}

.badge-active {
  background-color: veriables.$active;
}
